<ul class="sidebar" style="text-align:center; font-family:'宋体'; position: absolute;">
<!-- sort in alphebetical order -->
	<div style="width:120px; height:120px; border-radius:50%; overflow:hidden; border: 2px solid #ddd; margin-bottom:30px">
		<img src="/assets/images/me.jpg" height="120" width="120" />
	</div>
    <li style="background:#FFF;"><a href="{{ "/index.html" | prepend: site.url }}" >主页</a></li>    
    <li style="background:#FFF;"><a href="{{ "/projects.html" | prepend: site.url }}">项目</a></li>
    <li style="background:#FFF;"><a href="{{ "/search.html" | prepend: site.url }}">搜索</a></li>
    <li style="background:#FFF;"><a href="{{ "/tags.html" | prepend: site.url }}">标签</a></li>
    <li style="background:#FFF;"><a href="{{ "/archive.html" | prepend: site.url }}">文章</a></li>
    <li style="background:#FFF;"><a href="{{ "/contact.html" | prepend: site.url }}">留言</a></li>
    <li style="background:#FFF;"><a href="{{ "/about.html" | prepend: site.url }}">关于</a></li>

    <a class="goto-top-link hide-on-phone" href="#top" style="position: fixed;">
        <div class="goto-top text-center" style="position: fixed; background:#FFF;">
            <i class="fa fa-step-forward fa-rotate-270" ></i>
        </div>
    </a>
</ul>


