<! -- sidebar.html -->
<header class="sidebar-header" role="banner">
    <a href="{{ site.BASE_PATH }}">
        <img src="{{site.author.uno-dbyll}}" class="img-circle" style="border-radius: 50%;
border: 3px solid #FFF; height:150px;width:150px"/>
    </a>

    <h3 class="title">
        <a class="myfont2" href="{{ site.BASE_PATH}}/{{ site.me_path }}" style="font-size:25px;">{{ site.title }}</a>

        <p style="font-size:20px;font-family: Consolas,Verdana,'Hiragino Sans GB',SimSun,Arial;">{{ site.author.role }}</p>
    </h3>

    <hr class="hr-line">
    <h5 class="title">
		<a class="mylabel1" href="{{ site.BASE_PATH }}/">
			<i class="fa fa-home" style="font-size:22px;"></i>主页
        </a>
		<br/>
		<a class="button mylabel1" class="social2" id="btnblog" href="/#blog">
			<i class="fa fa-bars"></i>博客
        </a>
		<br/>
		<a class="mylabel1" href="{{ site.BASE_PATH }}/{{ site.categories_path }}">
			<i class="fa fa-folder"></i>分类
        </a>
		<br/>
		<a class="mylabel1" href="{{ site.BASE_PATH }}/{{ site.tags_path }}">
			<i class="fa fa-tags"></i>标签
        </a>
		<br/>
		<a class="mylabel1" href="{{ site.BASE_PATH }}/{{ site.me_path }}">
			<i class="fa fa-envelope"></i>关于
        </a>
		<br/>
		<a class="mylabel1" href="#">
			<i class="fa fa-arrow-up"></i>顶部
        </a>
		<br/>
    </h5>

    <hr class="hr-line1">
    <h3 class="title" style="font-size:30px;font-family: Consolas,Verdana,'Hiragino Sans GB',SimSun,Arial;">

        <a type="button" class="social1" href="http://github.com/{{ site.author.github }}">
            <i class="fa fa-github"></i>
        </a>

        <a type="button" class="social1" href="http://weibo.com/u/1665724095">
            <i class="fa fa-weibo"></i>
        </a>
        <a type="button" class="social1" href="http://www.douban.com/people/126961503/"
                style="padding-right: 10px">
            <i class="fa fa-coffee"></i>
        </a>

    </h3>

</header>


<! -- sidebar.html end -->
